# This environment pins requirements at their latest release as of 10-14-2019

# Install with: pip install -r requirements-2019.txt

numpy=1.17.2
pandas=0.25.1

orca=1.5.1
pandana=0.4.4
urbansim=3.1.1
urbansim_defaults=0.2