-e git+https://github.com/synthicity/urbansim.git@078fcb60e71d4ca70f037b69d10397f074114bfe#egg=urbansim
-e git+https://github.com/synthicity/urbansim_defaults.git@161715794460ea88756eebf6a805a81b636832a9#egg=urbansim_defaults
