# This environment pins requirements at their versions as of 10-2019

# Install with: pip install -r requirements-2019.txt

numpy == 1.17.*
pandas == 0.25.*

orca == 1.5.*
pandana == 0.4.*
urbansim == 3.1.*
urbansim_defaults == 0.2.*
